
$toolbar-size: 52px;

.toolbar{
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -$toolbar-size / 2;
}
.toolbar-item{
	position: relative;
	display: block;
	width: $toolbar-size;
	height: $toolbar-size;
	margin-top: 1px;

	&:hover{
		.toolbar-btn{
			&:before{
				top: -$toolbar-size;
			}
			&:after{
				top: 0;
			}
		}
		&:after{
			@include opacity(1);
			@include scale(1);
		}
	}

	&:after{
		content: "";/* 一定要写，否则下面的样式不起作用 */
		position: absolute;
		right: $toolbar-size - 6;
		bottom: -10px;
		width: 172px;
		background-image: url(../images/toolbar.png);
		background-repeat: no-repeat;
		@include opacity(0);
		@include transform-origin(96% 96%);
		@include scale(0.01);
		@include transition(all 1s);
	}
}
.toolbar-item-weixin{
	&:after{
		content: "";
		height: 212px;
		background-position: 0 0;
	}
	.toolbar-btn{
		@extend .icon-wechat;/* 继承 */
		&:after{
			content: "微信\A账号";
		}
	}
}
.toolbar-item-feedback{
	.toolbar-btn{
		@extend .icon-chat-3;/* 继承 */
		&:after{
			content: "意见\A反馈";
		}
	}
}
.toolbar-item-app{
	&:after{
		content: "";
		height: 194px;
		background-position: 0 -222px;
	}
	.toolbar-btn{
		@extend .icon-mobile;/* 继承 */
		&:after{
			content: "APP\A下载";
		}
	}
}
.toolbar-item-top{
	.toolbar-btn{
		@extend .icon-vertical_align_top;/* 继承 */
		&:after{
			content: "返回\A顶部";
		}
	}
}
.toolbar-btn{
	&, &:before, &:after{
		position: absolute;
		left: 0;
		width: $toolbar-size;
		height: $toolbar-size;
	}

	&:before, &:after{
		content: "";
		color: #fff;
		text-align: center;
		@include transition(top 1s);
	}

	top: 0;
	overflow: hidden;

	@extend [class^="icon-"];

	&:before{	// icon
		top: 0;
		background-color: #d0d6d9;
		font-size: 30px;
		line-height: $toolbar-size;
	}
	&:after{	// text
		top: $toolbar-size;
		background-color: #98a1a6;
		padding-top: 12px;
		font-size: 12px;
		line-height: 1.2;
		white-space: pre;
	}
}